@import '../../scss/theme';
.base {
	background-color: $bg_alt;
	margin: 0.5em;
}
.icon{
	background-color: $fg;
	min-width: 1em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
.value{
	min-width: 0em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
